/* RULES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
/* UTILITY */

/* HEADER */
header {
  background-color: #ffc018;
  position: sticky;
  top: 0;
  z-index: 999;
}
header a {
  text-decoration: none;
  color: black;
  font-size: small;
  padding-inline: 15px;
}

.div-navbar {
  padding-block: 1.3rem;
  padding-inline: 4rem;
  border-bottom: 1px solid black;
}

.nav-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.width-nav {
  display: flex;
  max-width: 1192px;
  min-width: 0;
  margin: 0 64px;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
}

.emptyflexgrow {
  flex: 1 0 auto;
}
.navLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.black-btn {
  border-radius: 99em;
  background: rgba(25, 25, 25, 1);
  border: 1px solid rgba(25, 25, 25, 1);
  padding: 8px 16px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

/* TOP */
.div-topsection {
  background-color: #ffc018;
  position: relative;
  border-bottom: 1px solid black;
}
.width-div {
  max-width: 1192px;
  min-width: 0;
  margin: 0 64px;
  width: 100%;
}
.top-section {
  display: flex;
  justify-content: center;
}

.top-left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 90px;
  width: 550px;
}
.top-left-side h2 {
  font-size: 5rem;
  margin-bottom: 35px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.top-left-side h3 {
  font-size: 24px;
  margin-bottom: 35px;
}
.SVG {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.top-btn {
  border-radius: 99em;
  background: rgba(25, 25, 25, 1);
  border: 1px solid rgba(25, 25, 25, 1);
  padding: 0.5rem 3rem;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
}
/* MAIN */

main {
  display: flex;
  flex-direction: column;
}

/* MAIN TRENDING */
.discover-mobile {
  display: none;
}
.discover-desktop {
  padding-left: 50px;
}

.div-trending {
  display: flex;
  justify-content: center;
}

.width-trending {
  padding-top: 40px;
  padding-bottom: 16px;
  max-width: 1192px;
  margin: 0 64px;
}
.trending {
}
.trend-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 16px;
}
.trend-title svg {
  margin-right: 10px;
}

.trend-posts {
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.trend-card {
  display: flex;
  width: 33%;
  margin-bottom: 3rem;
}

.innerCard {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tag-name {
  display: flex;
}

/* BOTTOM POST  */
.div-bottomcenter {
  padding-top: 56px;
  border-top: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
}

.bottom-posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1192px;
  margin: 0 64px;
}
.bottom-posts > div:first-child {
  display: flex;
  flex-direction: row;
}

.div-articles {
  width: 65%;
  padding-right: 50px;
}
.bottom-posts aside {
  width: 35%;
}
/* FOOTER */
.bottom-line {
  margin-block: 30px;
}
.bottom-links {
  border-top: 1px solid #f2f2f2;
  padding-top: 30px;
}

.bottom-card {
  display: flex;
}
.bottom-card img:last-child {
  width: 200px;
  height: 134px;
  object-fit: cover;
  padding-left: 25px;
}
.time {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.div-articles article {
  margin-bottom: 75px;
}
.sticky-desktop {
  position: sticky;
  top: 80px;
  z-index: 998;
}
/* SPECIAL STYLE  */
